#### Import Pandas

In [2]:
import pandas as pd

#### Load location data from the dataset

In [3]:
location_data = pd.read_csv('DataSet\locationData.csv')

In [5]:
location_data.head(10)

,location_id,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation,city_name
0,0,6.924429,79.907250,4,19800,Asia/Colombo,530,Colombo
1,1,7.065026,79.966220,19,19800,Asia/Colombo,530,Gampaha
2,2,6.572935,80.025190,5,19800,Asia/Colombo,530,Kalutara
3,3,7.275923,80.626590,499,19800,Asia/Colombo,530,Kandy
4,4,7.486819,80.526320,362,19800,Asia/Colombo,530,Matale
5,5,6.994728,80.734180,1865,19800,Asia/Colombo,530,Nuwara Eliya
6,6,6.080843,80.233730,8,19800,Asia/Colombo,530,Galle
7,7,5.940246,80.550000,6,19800,Asia/Colombo,530,Matara
8,8,6.151143,81.127815,8,19800,Asia/Colombo,530,Hambantota
9,9,9.666080,80.034874,8,19800,Asia/Colombo,530,Jaffna

#### Load weather data from the dataset

In [6]:
weather_data = pd.read_csv('DataSet\weatherData.csv')

In [7]:
weather_data.head(10)

,location_id,date,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),...,precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),sunrise,sunset
0,0,1/1/2010,1,30.1,22.6,26.0,34.5,25.0,29.0,42220.20,...,0.0,0.0,0,12.2,27.4,19,20.92,4.61,06:22,18:05
1,0,1/2/2010,51,30.1,23.7,26.3,33.9,26.1,29.7,42225.71,...,0.1,0.1,1,13.0,27.0,24,17.71,3.91,06:22,18:06
2,0,1/3/2010,51,29.6,23.1,26.0,34.5,26.2,29.9,42231.68,...,0.6,0.6,3,12.3,27.4,17,17.76,3.66,06:22,18:06
3,0,1/4/2010,2,28.9,23.1,25.7,31.7,26.1,28.4,42238.11,...,0.0,0.0,0,17.0,34.6,357,16.50,3.75,06:23,18:07
4,0,1/5/2010,1,28.1,21.3,24.6,30.0,22.9,26.2,42244.99,...,0.0,0.0,0,18.7,37.1,353,23.61,5.00,06:23,18:07
5,0,1/6/2010,1,28.8,21.3,24.9,31.2,22.8,26.3,42252.32,...,0.0,0.0,0,17.1,32.0,12,21.48,4.95,06:23,18:08
6,0,1/7/2010,3,29.3,22.0,25.6,34.0,24.2,28.3,42260.19,...,0.0,0.0,0,13.5,25.6,10,19.38,4.38,06:24,18:08
7,0,1/8/2010,53,28.4,23.4,25.6,32.2,26.1,29.0,42268.61,...,0.8,0.8,3,13.0,24.8,7,13.00,2.98,06:24,18:09
8,0,1/9/2010,61,29.1,23.5,26.0,35.4,28.3,31.3,42277.55,...,3.2,3.2,5,11.5,31.7,163,16.89,3.34,06:24,18:09
9,0,1/10/2010,51,30.1,22.6,26.2,35.8,27.1,31.2,42287.01,...,0.1,0.1,1,6.9,18.4,101,20.52,4.15,06:25,18:10

#### merge weather data and location data into one DataFrame based on location_id

In [8]:
df = pd.merge(weather_data, location_data, on='location_id')

In [9]:
df.head(10)

,location_id,date,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),...,et0_fao_evapotranspiration (mm),sunrise,sunset,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation,city_name
0,0,1/1/2010,1,30.1,22.6,26.0,34.5,25.0,29.0,42220.20,...,4.61,06:22,18:05,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
1,0,1/2/2010,51,30.1,23.7,26.3,33.9,26.1,29.7,42225.71,...,3.91,06:22,18:06,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
2,0,1/3/2010,51,29.6,23.1,26.0,34.5,26.2,29.9,42231.68,...,3.66,06:22,18:06,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
3,0,1/4/2010,2,28.9,23.1,25.7,31.7,26.1,28.4,42238.11,...,3.75,06:23,18:07,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
4,0,1/5/2010,1,28.1,21.3,24.6,30.0,22.9,26.2,42244.99,...,5.00,06:23,18:07,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
5,0,1/6/2010,1,28.8,21.3,24.9,31.2,22.8,26.3,42252.32,...,4.95,06:23,18:08,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
6,0,1/7/2010,3,29.3,22.0,25.6,34.0,24.2,28.3,42260.19,...,4.38,06:24,18:08,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
7,0,1/8/2010,53,28.4,23.4,25.6,32.2,26.1,29.0,42268.61,...,2.98,06:24,18:09,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
8,0,1/9/2010,61,29.1,23.5,26.0,35.4,28.3,31.3,42277.55,...,3.34,06:24,18:09,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo
9,0,1/10/2010,51,30.1,22.6,26.2,35.8,27.1,31.2,42287.01,...,4.15,06:25,18:10,6.924429,79.90725,4,19800,Asia/Colombo,530,Colombo

In [10]:
df.dtypes

location_id                          int64
date                                object
weather_code (wmo code)              int64
temperature_2m_max (°C)            float64
temperature_2m_min (°C)            float64
temperature_2m_mean (°C)           float64
apparent_temperature_max (°C)      float64
apparent_temperature_min (°C)      float64
apparent_temperature_mean (°C)     float64
daylight_duration (s)              float64
sunshine_duration (s)              float64
precipitation_sum (mm)             float64
rain_sum (mm)                      float64
precipitation_hours (h)              int64
wind_speed_10m_max (km/h)          float64
wind_gusts_10m_max (km/h)          float64
wind_direction_10m_dominant (°)      int64
shortwave_radiation_sum (MJ/m²)    float64
et0_fao_evapotranspiration (mm)    float64
sunrise                             object
sunset                              object
latitude                           float64
longitude                          float64
elevation                            int64
utc_offset_seconds                   int64
timezone                            object
timezone_abbreviation                int64
city_name                           object
dtype: object

#### List the all unnecessary columns that not be helpful for our goal : Predict future temperatures based on historical weather data for different districts in Sri Lanka

In [15]:
unneccessary_columns = [
    'location_id',
    'weather_code (wmo code)',
    'daylight_duration (s)',
    'sunshine_duration (s)',
    'latitude',
    'longitude', 
    'elevation', 
    'utc_offset_seconds',
    'timezone', 
    'timezone_abbreviation', 
    'sunrise', 
    'sunset', 
]

#### Drop the unwanted columns

In [16]:
df = df.drop(columns=unneccessary_columns)

In [19]:
df.shape

(142371, 16)

In [20]:
df.head()

,date,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),city_name
0,1/1/2010,30.1,22.6,26.0,34.5,25.0,29.0,0.0,0.0,0,12.2,27.4,19,20.92,4.61,Colombo
1,1/2/2010,30.1,23.7,26.3,33.9,26.1,29.7,0.1,0.1,1,13.0,27.0,24,17.71,3.91,Colombo
2,1/3/2010,29.6,23.1,26.0,34.5,26.2,29.9,0.6,0.6,3,12.3,27.4,17,17.76,3.66,Colombo
3,1/4/2010,28.9,23.1,25.7,31.7,26.1,28.4,0.0,0.0,0,17.0,34.6,357,16.50,3.75,Colombo
4,1/5/2010,28.1,21.3,24.6,30.0,22.9,26.2,0.0,0.0,0,18.7,37.1,353,23.61,5.00,Colombo

In [21]:
df.dtypes

date                                object
temperature_2m_max (°C)            float64
temperature_2m_min (°C)            float64
temperature_2m_mean (°C)           float64
apparent_temperature_max (°C)      float64
apparent_temperature_min (°C)      float64
apparent_temperature_mean (°C)     float64
precipitation_sum (mm)             float64
rain_sum (mm)                      float64
precipitation_hours (h)              int64
wind_speed_10m_max (km/h)          float64
wind_gusts_10m_max (km/h)          float64
wind_direction_10m_dominant (°)      int64
shortwave_radiation_sum (MJ/m²)    float64
et0_fao_evapotranspiration (mm)    float64
city_name                           object
dtype: object

#### Convert 'date' column to datetime format

In [22]:
df['date'] = pd.to_datetime(df['date'])

In [24]:
df.dtypes

date                               datetime64[ns]
temperature_2m_max (°C)                   float64
temperature_2m_min (°C)                   float64
temperature_2m_mean (°C)                  float64
apparent_temperature_max (°C)             float64
apparent_temperature_min (°C)             float64
apparent_temperature_mean (°C)            float64
precipitation_sum (mm)                    float64
rain_sum (mm)                             float64
precipitation_hours (h)                     int64
wind_speed_10m_max (km/h)                 float64
wind_gusts_10m_max (km/h)                 float64
wind_direction_10m_dominant (°)             int64
shortwave_radiation_sum (MJ/m²)           float64
et0_fao_evapotranspiration (mm)           float64
city_name                                  object
dtype: object

#### One hot encoding for categorical column - "city_name"

In [26]:
df = pd.get_dummies(data=df, columns=['city_name'])

In [27]:
df.columns

Index(['date', 'temperature_2m_max (°C)', 'temperature_2m_min (°C)',
       'temperature_2m_mean (°C)', 'apparent_temperature_max (°C)',
       'apparent_temperature_min (°C)', 'apparent_temperature_mean (°C)',
       'precipitation_sum (mm)', 'rain_sum (mm)', 'precipitation_hours (h)',
       'wind_speed_10m_max (km/h)', 'wind_gusts_10m_max (km/h)',
       'wind_direction_10m_dominant (°)', 'shortwave_radiation_sum (MJ/m²)',
       'et0_fao_evapotranspiration (mm)', 'city_name_Ampara',
       'city_name_Anuradhapura', 'city_name_Badulla', 'city_name_Bandarawela',
       'city_name_Batticaloa', 'city_name_Colombo', 'city_name_Galle',
       'city_name_Gampaha', 'city_name_Hambantota', 'city_name_Jaffna',
       'city_name_Kalutara', 'city_name_Kandy', 'city_name_Kegalle',
       'city_name_Kilinochchi[1]', 'city_name_Kurunegala', 'city_name_Mannar',
       'city_name_Matale', 'city_name_Matara', 'city_name_Moneragala',
       'city_name_Mullaitivu', 'city_name_Nuwara Eliya',
       'city_name_Polonnaruwa', 'city_name_Puttalam', 'city_name_Ratnapura',
       'city_name_Trincomalee', 'city_name_Vavuniya', 'city_name_Welimada'],
      dtype='object')

In [29]:
df.shape

(142371, 42)

In [30]:
df.head()

,date,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),...,city_name_Matara,city_name_Moneragala,city_name_Mullaitivu,city_name_Nuwara Eliya,city_name_Polonnaruwa,city_name_Puttalam,city_name_Ratnapura,city_name_Trincomalee,city_name_Vavuniya,city_name_Welimada
0,2010-01-01,30.1,22.6,26.0,34.5,25.0,29.0,0.0,0.0,0,...,False,False,False,False,False,False,False,False,False,False
1,2010-01-02,30.1,23.7,26.3,33.9,26.1,29.7,0.1,0.1,1,...,False,False,False,False,False,False,False,False,False,False
2,2010-01-03,29.6,23.1,26.0,34.5,26.2,29.9,0.6,0.6,3,...,False,False,False,False,False,False,False,False,False,False
3,2010-01-04,28.9,23.1,25.7,31.7,26.1,28.4,0.0,0.0,0,...,False,False,False,False,False,False,False,False,False,False
4,2010-01-05,28.1,21.3,24.6,30.0,22.9,26.2,0.0,0.0,0,...,False,False,False,False,False,False,False,False,False,False